# Fichiers système
.DS_Store
*.swp

# Fichiers de logs
*.log

# Docker
.env
*.env
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Python
__pycache__/
*.pyc

# Node.js
node_modules/

# Visual Studio Code
.vscode/

# Secrets
secrets.yml
